@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using StartProjectGuide.Models.ViewModels;
@using StartProjectGuide.Business.BaseClasses;
@model  StartProjectGuide.Business.Interfaces.IPageViewModel<StartProjectGuide.Business.BaseClasses.BasePageData>
<footer class="container">
    <div class="row">
        <div class="col-lg-12">Footer</div>
    </div>
</footer>