@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@model StartProjectGuide.Models.Pages.BlogPage
<div>
    <p>Blog page view</p>
    @Html.PropertyFor(m => m.Heading)
    @Html.PropertyFor(m => m.MainBody)
    @Html.PropertyFor(m => m.BlogEntry)
    @Html.PropertyFor(m => m.MainContentArea)
</div>