@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@model StartProjectGuide.Models.ViewModels.IPageViewModel<StartProjectGuide.Models.Pages.BlogPage>
<div>
    <p>Blog page view</p>
    @Html.PropertyFor(m => m.CurrentPage.BlogEntry)
</div>