@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using StartProjectGuide.Models.ViewModels
@using StartProjectGuide.Models.Pages
@model PageViewModel<StartProjectGuide.Models.Pages.StartPage>
<p>StartPage</p>
@Html.PropertyFor(m => m.CurrentPage.MainContentArea)