@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model StartProjectGuide.Models.Blocks.WorkCardsBlock
<div>
    @Html.PropertyFor(m => m.WorkContentArea, new { CssClass = "image-text-block-wrapper", HasItemContainer = false })
    @Html.PropertyFor(m => m.WorkContentButton)
</div>