@using EPiServer.Core
@using EPiServer
@using EPiServer.Web.Mvc.Html
@using EPiServer.ServiceLocation
@using StartProjectGuide.Models.Blocks
@using StartProjectGuide.Business

@model StartProjectGuide.Models.Blocks.ServiceCardsBlock

@*@{
        var contentLoader = ServiceLocator.Current.GetInstance<IContentLoader>();
               var list = Model.ServiceContentArea.FilteredItems.ToList();//.Select(i => { return i.ContentLink.Get<IContent>(); });
    }*@

<div class="row">
    @Html.PropertyFor(m => m.ServiceContentArea)
    @*@foreach (var item in list)
        {
            var a = contentLoader.Get<ServiceCardBlock>(item.ContentLink);
            @Html.RenderPartial("Views/Shared/PagePartials/ServiceCard.cshtml", a.);
        }*@
</div>