@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@model  StartProjectGuide.Models.Blocks.IntroBlock
<div class="intro-wrapper">
    <div class="intro">
        <h1 class="header">@Html.PropertyFor(m => m.Header)</h1>
        <div class="preamble">
            @Html.PropertyFor(m => m.Preamble)
        </div>
        @Html.PropertyFor(m => m.Button)
    </div>
</div>