@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@model StartProjectGuide.Models.Blocks.ButtonBlock
@if (Model.Text != null)
{
    <div class="row fill">
        <a class="link button" href="@Model.Url">
            @Html.PropertyFor(m => m.Text)
        </a>
    </div>
}
