@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model StartProjectGuide.Models.Blocks.CarouselleBlock

<div>
  @Html.PropertyFor(m => m.CarouselleItems, new { CssClass = "row equal-space" })
</div>