@using StartProjectGuide.Models.ViewModels;
@using StartProjectGuide.Business.BaseClasses;
@model  StartProjectGuide.Models.ViewModels.IPageViewModel<StartProjectGuide.Business.BaseClasses.BasePageData>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
</head>
<body>
    <header>
        This is the header
    </header>
    <div class="body-content">
        @RenderBody()
    </div>
    <footer>
        <p>This is the footer</p>
    </footer>
</body>
</html>
