@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@model  StartProjectGuide.Business.Interfaces.IPageViewModel<StartProjectGuide.Models.Pages.ServicePage>

<p>Service page</p>
@Html.PropertyFor(m => m.CurrentPage.IntroContentArea)
@Html.PropertyFor(m => m.CurrentPage.ServiceContentArea, new { cssClass = "service-content-area", HasContainer = false, HasItemContainer = false })
<div>
    @Html.PropertyFor(m => m.CurrentPage.WorkContentArea, new { cssClass = "image-text-block-wrapper", HasItemContainer = false })
    @Html.PropertyFor(m => m.CurrentPage.WorkContentButton)
</div>