@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@model  StartProjectGuide.Business.Interfaces.IPageViewModel<StartProjectGuide.Models.Pages.ServicePage>

<div class="page service-page">
    @Html.PropertyFor(m => m.CurrentPage.IntroSection)
    <div class="content">
        @Html.PropertyFor(m => m.CurrentPage.MainContentArea)
    </div>
</div>