@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@model  StartProjectGuide.Business.Interfaces.IPageViewModel<StartProjectGuide.Models.Pages.ServicePage>

<div class="service-page">
    @Html.PropertyFor(m => m.CurrentPage.Header, new { CssClass = "header" })
    @Html.PropertyFor(m => m.CurrentPage.Preamble, new { cssClass="preamble", HasContainer = false, HasItemContainer = false})
</div>