@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using StartProjectGuide.Business

@model  StartProjectGuide.Business.Interfaces.IPageViewModel<StartProjectGuide.Models.Pages.WorkPage>

<div class="page work-page">
    @Html.PropertyFor(m => m.CurrentPage.IntroSection)
    <div class="content">
        @Html.PropertyFor(m => m.CurrentPage.MainContentArea)
    </div>
</div>
