@using EPiServer
@using EPiServer.Core
@using EPiServer.Core.Internal
@using EPiServer.ServiceLocation
@using EPiServer.Web.Mvc.Html
@using StartProjectGuide.Models.Pages
@model StartProjectGuide.Models.Blocks.WorksPreviewBlock
@{
    var contentLoader = ServiceLocator.Current.GetInstance<IContentLoader>();
}
@if (Model.Work != null && Model.Work.Any())
{
    <div class="work-card-wrapper">
        @foreach (var item in Model.Work)
        {
            var workPage = contentLoader.Get<WorkPage>(item);
            @Html.Partial("~/Views/Shared/PagePartials/WorkCard.cshtml", workPage)
        }
    </div>
}
