@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model StartProjectGuide.Models.Blocks.ImageTextBlock
<div class="image-text-block @(Model.BlockWidth)">
    <div class="text-block-text">
        <h2>@Html.PropertyFor(m => m.Header)</h2>
        <p>@Html.PropertyFor(m => m.Description)</p>
    </div>
    @Html.PropertyFor(m => m.Image, new { cssClass = "background-image" })
</div>