@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@model StartProjectGuide.Models.Blocks.TextBlock
<div class="section">
    @Html.PropertyFor(m => m.Header)
    @Html.PropertyFor(m => m.Body)
</div>